@import '../consts';

.spacing {
  padding-top: 12px;
}

.userNameInput {
  width: 300px !important;
  height: 20px !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 10px !important;
  padding-left: 4px !important;
}

.passwordInput {
  width: 300px !important;
  height: 20px !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 10px !important;
  padding-left: 4px !important;
  font-size: inherit !important;
}

.careLinkSubmitButton {
  font-size: medium;
  width: 200px;
  height: 26px;
}

.errorMessageStyle {
  color: red;
  font-size: 18px;
}
