OAUTH_CLIENT_ID=424c19e4-e131-4c26-ab6e-4a80bbe23d4a
OAUTH_CLIENT_SECRET=EeHP8WvSe8NVgpr8r360JaFIB5vKh6qNqjRKAce5pieKeqXCeJVOyyUtpKMGBGI2VV-EPirVMETWwV0fjXjutg
OAUTH_AUTHORIZATION_URL=https://fhirsandbox2-auth.kanta.fi/phr-authserver-sandbox/authorize
OAUTH_TOKEN_URL=https://fhirsandbox2-auth.kanta.fi/phr-authserver-sandbox/token
OAUTH_CALLBACK_URL=http://localhost:1300/fiphr/callback
MONGODB_URI=mongodb://STadmin:ximbe5-qevbyp-Pugbyc@cluster0-shard-00-00-fxcaj.gcp.mongodb.net:27017,cluster0-shard-00-01-fxcaj.gcp.mongodb.net:27017,cluster0-shard-00-02-fxcaj.gcp.mongodb.net:27017/nsfi_auth?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true
TOKEN_ENCRYPTION_KEY=5a669c82-38de-11e9-ac62-7bb6c767e3da-5d1a62ba-38de-11e9-b7f1-3f00008d1780
FHIR_SERVER=https://fhirsandbox2.kanta.fi/phr-resourceserver/baseStu3
SERVER=localhost:1300
FRONTEND=http://localhost:3000
API_URL=localhost:1300/api/v1/
HIDE_LOGIN=false
NSCONSENT_CLIENT_ID_EPIC=e972ca13-44b1-4073-a921-eabd0926d461
NSCONSENT_CLIENT_ID_CERNER=e548f897-97d8-449f-86be-97c6337def8c
NSCONSENT_BASE_URL=http://localhost:1300/nsconsent
SENDGRID_API_KEY=
EMAILVERIFICATION_BASE_URL=http://localhost:1300/emailverification
PORT=1300
