@import "../consts";

#actions {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 120px + $footer-height;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0;
  z-index: 10;
  button.large {
    margin: 20px auto;
    cursor: pointer;
  }
  @media screen and (max-width: $breakpoint-width), screen and (orientation: portrait) {
    border-top: 1px solid black;
  }
}
