<div id='footer'>
<ul id="navigation">   
    <li><a href="/">Etusivu</a></li>
    <li><a href="/public/terms.md">Palvelun käyttöehdot</a></li>
    <li><a href="/public/privacy.md">Tietosuojaseloste</a></li>
    <li><a href="/public/guide.md">Käyttöohjeet</a></li>
    <li><a href="/public/support.md">Käyttötuki</a></li>
</ul>
</div>
