<!doctype html>

<html lang="en">

<head>
   <meta charset="utf-8">

   <title>Nightscout.fi</title>
   <meta name="description" content="Nightscout.fi">
   <meta name="author" content="SensoTrend">

   <% include style %>
</head>

<body>
   <div id='container'>
      <div id='maintitle'>Nightscout.fi</div>
      <div>
         <p>Nightscout.fi on Kelan Omatietovarantoon kytketty palvelu,<br>
            jonka avulla käyttää Nightscout-sovelluksia yhdessä Omatietovarannon kanssa.</p>
      </div>

      <div id='login'></div>
      <%if (!pageEnv.hideLogin) { %>
         <a href="/fiphr/launch"><button style="font-size: 40px;" class="button-success pure-button">Kirjaudu sisälle</button></a></li>
      <% } else { %>
         Palvelu on vielä kehityksen alla, sisäänkirjautuminen on toistaiseksi kytketty pois päältä.
      <% } %>
      </div>
      <br><br>
      <% include footer %>
   </div>

</body>

</html>
