<!doctype html>

<html lang="en">

<head>
   <meta charset="utf-8">

   <title>Nightscout.fi</title>
   <meta name="description" content="Nightscout.fi">
   <meta name="author" content="SensoTrend">

   <% include style %>
</head>

<body>
   <div id='container'>
      <div id='subtitle'>Nightscout.fi</div>
      <div>
         <p>Sinut on nyt kirjattu ulos.</p>
      </div>
      <br><br>
      <% include footer %>
   </div>

</body>

</html>
