<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <% include style %>
    </head>
    <body>
        <div id="container">
            <%- content %>
            <br>
            <% include footer %>
        </div>
       
    </body>
</html>