<!doctype html>

<html lang="en">

<head>
   <meta charset="utf-8">
   <title>Nightscout.fi</title>
   <meta name="description" content="Nightscout.fi">
   <meta name="author" content="SensoTrend">
   <meta name="sub" content="<%= user.sub %>">
   <% include style %>
</head>

<body>
   <div id='container'>
      <div id='subtitle'>Nightscout.fi</div>
      <div>
         <p>Palvelu on nyt aktivoitu. Voit alkaa lähettämään tietoa Omatietovarantoon Nighscout REST sovelluksilla, kuten xDrip ja Spike.</p>
         <p>Pidä alla olevasta salaisuudesta ja osoitteesta hyvää huolta, ettei kukaan pääse käsiksi tietoihisi.</p>
         <p>Palvelun REST rajapinta on applikaatioiden käytössä myös uloskirjautumisen jälkeen.</p>
         <p>Lue palvelun <a href="/public/guide.md">käyttöohjeista</a> lisätietoa yhteensopivista applikaatioista.</p>
         <br>
         <table>
            <tr>
               <td>API SECRET</td>
               <td>
                  <%= user.site_secret %>
               </td>
            </tr>
            <tr>
               <td>REST API osoite</td>
               <td>
                    https://<%= user.site_secret %>@connect.nightscout.fi/api/v1
               </td>
            </tr>
         </table>
         </table>
      </div>

      <p>Tulevia ominaisuuksia</p>
      <ul>
            <li>Sähköpostiosoitteen aktivointi</li>
            <li>Sivuston osoitteen vaihto</li>
            <li>API SECRET vaihto</li>
            <li>Palvelun deaktivointi</li>
      </ul>

      <p><div id='logout'>
         <a href="/logout">Kirjaudu ulos</a>
      </div>
    </p>
      <br><br>
      <% include footer %>
   </div>

</body>

</html>
