<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <title>Permission request</title>
   <script src="http://code.jquery.com/jquery-latest.min.js"></script>
   <style type="text/css">
      .form-style-1 {
         margin: 10px;
         max-width: 400px;
         padding: 20px 12px 10px 20px;
         font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      .form-style-1 li {
         padding: 0;
         display: block;
         list-style: none;
         margin: 10px 0 0 0;
      }

      .form-style-1 label {
         margin: 0 0 3px 0;
         padding: 0px;
         display: block;
         font-weight: bold;
      }

      .form-style-1 input[type=text],
      .form-style-1 input[type=date],
      .form-style-1 input[type=datetime],
      .form-style-1 input[type=number],
      .form-style-1 input[type=search],
      .form-style-1 input[type=time],
      .form-style-1 input[type=url],
      .form-style-1 input[type=email],
      textarea,
      select {
         box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         border: 1px solid #BEBEBE;
         padding: 7px;
         margin: 0px;
         -webkit-transition: all 0.30s ease-in-out;
         -moz-transition: all 0.30s ease-in-out;
         -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
         outline: none;
      }

      .form-style-1 input[type=text]:focus,
      .form-style-1 input[type=date]:focus,
      .form-style-1 input[type=datetime]:focus,
      .form-style-1 input[type=number]:focus,
      .form-style-1 input[type=search]:focus,
      .form-style-1 input[type=time]:focus,
      .form-style-1 input[type=url]:focus,
      .form-style-1 input[type=email]:focus,
      .form-style-1 textarea:focus,
      .form-style-1 select:focus {
         -moz-box-shadow: 0 0 8px #88D5E9;
         -webkit-box-shadow: 0 0 8px #88D5E9;
         box-shadow: 0 0 8px #88D5E9;
         border: 1px solid #88D5E9;
      }

      .form-style-1 .field-divided {
         width: 49%;
      }

      .form-style-1 .field-long {
         width: 100%;
      }

      .form-style-1 .field-select {
         width: 100%;
      }

      .form-style-1 .field-textarea {
         height: 100px;
      }

      .form-style-1 input[type=submit],
      .form-style-1 input[type=button] {
         background: #4B99AD;
         padding: 8px 15px 8px 15px;
         border: none;
         color: #fff;
      }

      .form-style-1 input[type=submit]:hover,
      .form-style-1 input[type=button]:hover {
         background: #4691A4;
         box-shadow: none;
         -moz-box-shadow: none;
         -webkit-box-shadow: none;
      }

      .form-style-1 .required {
         color: red;
      }

   </style>
</head>

<body>

   <p>
      <h2>Your clinic has requested access to view your Nightscout</h2>
      <p>Please enter your Nightscout URL and API SECRET below to grant them access.</p>
      <p>We will send you instructions on how to revoke the access once you've given the grant.</p>
      <p>If you do not want to grant access to the clinic, you can ignore the email and this page.</p>
      <form id="grantform">
         <ul class="form-style-1">
            <li><label for="nsurl">Nightscout URL:</label> <input type="text" name="nsurl" id="nsurl" placeholder="https://example.herokuapp.com"></li>
            <li><label for="secret">API SECRET:</label> <input type="text" name="secret" id="secret" placeholder="abcdefg1234"></li>
            <li><label for="check">I hereby verify I have the right to share data in the Nightscout intance URL and grant my clinit access to view all data stored in the Nightscout instance</label> <input type="checkbox" name="check" id="check" ></li>
            <li><button name="submit" id="submit">Grant Access</button></li>
            <li><label id="info"></label></li>

         </ul>
         <input type="hidden" name="requestid" value="<%= requestid %>">
      </form>
      <p style="display:none;" id='success'>
         <b>Grant processed successfully, thank you!</b>
      </p>
   </p>

   <script src="static/grantform.js"></script>

</body>

</html>
