@import '../consts';

#instructions section#kanta,
#instructions section#kanta .container {
  padding-bottom: 0;
}

#instructions section#future,
#instructions section#future .container {
  padding-top: 0;
}

.container .sideBar {
  background-color: transparent;
  position: absolute;
  left: 5%;
  top: 13.5%;
  font-size: 16px;
}

.sideBar .sideBarElement {
  padding-bottom: 5px;
}
