@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #fff;
  color: #000;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 100px;
}

div.image-background {
  background: #fff;
  background: url("wrist.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 120vw;
}

.dark, #index section:first-of-type {
  border-top: 3px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5em 0;
}

.light {
  background-color: rgba(255, 255, 255, 0.15);
  color: black;
}

.solid, #index section:nth-of-type(2) {
  border-top: 3em solid white;
  border-bottom: 3em solid white;
  background-color: rgba(255, 255, 255, 0.15);
  color: black;
}

.solid {
  background-color: white;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 65px;
  padding-bottom: 20px;
  margin: 10px 0;
}

h1 img {
  height: 45px;
  margin-right: 10px;
}

h2 {
  font-weight: bolder;
}

#login {
  font-size: 30px;
}

.container {
  max-width: 800px;
  padding: 2em 2em;
  margin: auto;
}

#actions {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0;
  z-index: 10;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0 2em 25px;
  z-index: 10;
  border-top: 1px solid maroon;
}

#actions button.large {
  margin: 20px auto;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}

button.large {
  margin: 40px;
  color: white;
}

input[type="email"],
div.checkbox {
  margin: 10px 40px;
  color: black;
}

button.large,
input[type="email"] {
  font-size: 30px;
  padding: 0.3em 1em;
}

ul#navigation li {
  display: inline;
  margin: 0.1em 2em;
}

table,
th,
td,
caption {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 16px;
  text-align: left;
  font-size: 110%;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 4.5em auto 2em;
  width: 100%;
}

caption {
  border-bottom-width: 0;
}

input[type="email"] {
  width: 100%;
}

label {
  display: inline-block;
  margin-left: 40px;
  width: calc(100% - 80px);
}

input[type="checkbox"] {
  float: left;
}

#index {
  color: white;
  font-size: 140%;
}

#index a,
#footer a {
  text-decoration: none;
  font-weight: bold;
}

#index a {
  color: white;
}

#footer a {
  color: black;
}

#index a:hover,
#index a:active,
#index a:focus,
#footer a:hover,
#footer a:active,
#footer a:focus {
  text-decoration: underline;
}

/*
#index section {
  padding: 10em 0;
}
*/

@media (max-width: 740px) {
  h1 {
    text-align: center;
  }

  h1 img {
    display: block;
    text-align: center;
    height: 60px;
    margin: 0 auto 30px;
  }

  #index,
  #index a,
  .dark {
    background-color: white;
    color: black;
  }

  #index section {
    padding: 1em 0;
    border: none;
  }

  ul#navigation li {
    display: block;
    margin: 1em 2em;
  }

  #footer.open {
    height: auto;
  }

  #footer.collapsed {
    display: none;
  }
}
