.parallax {
  /*
      overflow: hidden;
      -webkit-perspective: 300px;
      perspective: 300px;
      -webkit-perspective-origin-x: 100%;
      perspective-origin-x: 100%;
      */
}

.parallax__container {
  /*
      overflow-x: hidden;
      overflow-y: auto;
      */
  position: relative;
}

.parallax__group {
  /*
      position: relative;
      min-height: 100vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      */
  perspective: 300px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  /*
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform-origin-x: 100%;
      transform-origin-x: 100%;
      */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
